Repository it-e-7/hyunprise, pull requests merged in 2023-07, with the labels that each got.

#27 Feature/#20 issued coupon android UI
  android/app/src/main/java/com/hyunprise/android/api/coupon/clients/IssuedCouponClient.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/IssuedCouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/Coupon.kt
Labels: bug

#28 Feature/#4 issued coupon detail UI
  android/app/src/main/java/com/hyunprise/android/api/coupon/clients/IssuedCouponClient.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/IssuedCouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/Coupon.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/CouponDetail.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/IssuedCoupon.kt
  android/app/src/main/java/com/hyunprise/android/global/api/ApiHandler.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/IssuedCouponContainerActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/adaptors/IssuedCouponRecyclerViewAdaptor.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/CouponScrollingFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/IssuedCouponDetailDialogFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/IssuedCouponScrollingFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/listeners/RecyclerItemClickListener.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/QRCodeActivity.kt
  android/app/src/main/res/drawable/background_bottom_dialog.xml
  android/app/src/main/res/drawable/background_dark_transparent.xml
  android/app/src/main/res/drawable/background_dialog_bar.xml
  android/app/src/main/res/layout/fragment_issued_coupon_detail_bottom_dialog.xml
  android/app/src/main/res/layout/fragment_issued_coupon_list_item.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: feature, Android, Backend

#36 Jenkins Test Merge
  backend/src/main/java/com/hyunprise/backend/domain/auth/utils/AuthenticationConfig.java
Labels: test

#43 test: Spring Security 임시 비활성화
  backend/src/main/java/com/hyunprise/backend/global/security/AuthenticationConfig.java
Labels: Backend, test

#47 Feature/#15 메인배너 UI
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/hyunprise/android/HomeActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/TestMainActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/TestMainFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/point/PointActivity.kt
  android/app/src/main/res/drawable/banner.jpg
  android/app/src/main/res/drawable/ic_barcode_32.png
  android/app/src/main/res/drawable/ic_barcode_black_32dp.png
  android/app/src/main/res/drawable/ic_coupon_32dp.png
  android/app/src/main/res/drawable/ic_menu_32.png
  android/app/src/main/res/drawable/ic_point_32dp.png
  android/app/src/main/res/drawable/ic_x_button_32dp.xml
  android/app/src/main/res/layout/activity_home.xml
  android/app/src/main/res/layout/activity_point.xml
  android/app/src/main/res/layout/activity_test_main.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_test_main.xml
  android/app/src/main/res/layout/home_drawer.xml
  android/app/src/main/res/values/colors.xml
Labels: enhancement

#46 Feature/#8 qr코드 스캔 기능 및 UI 추가
  android/app/src/main/java/com/hyunprise/android/CodeGenerate.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/clients/CouponClient.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/clients/IssuedCouponClient.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/CouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/IssuedCouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/CouponDetail.kt
  android/app/src/main/java/com/hyunprise/android/ui/admin/coupon/CouponGenerateActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/admin/home/AdminHomeFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/CouponAcquiredActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/CouponFoundActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/QRCodeActivity.kt
  android/app/src/main/res/drawable/coupon_edge.xml
  android/app/src/main/res/drawable/home_banner.png
  android/app/src/main/res/layout/activity_coupon_acquired.xml
  android/app/src/main/res/layout/activity_coupon_found.xml
  android/app/src/main/res/layout/activity_coupon_generate.xml
  android/app/src/main/res/layout/activity_qrcode.xml
  android/app/src/main/res/layout/fragment_admin_home.xml
  backend/build.gradle
  backend/src/main/java/com/hyunprise/backend/domain/coupon/controllers/CouponController.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/controllers/CouponGenerateController.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/controllers/IssuedCouponController.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/mappers/CouponMapper.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/mappers/IssuedCouponMapper.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/CouponService.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/CouponServiceImpl.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/IssuedCouponService.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/IssuedCouponServiceImpl.java
  backend/src/main/resources/mapper/CouponMapper.xml
  backend/src/main/resources/mapper/IssuedCouponMapper.xml
Labels: feature, Android, Backend

#51 feat: member 조회용 API 추가
  backend/src/main/java/com/hyunprise/backend/domain/member/mapper/MemberLoginMapper.java
  backend/src/main/java/com/hyunprise/backend/domain/member/mappers/MemberMapper.java
  backend/src/main/java/com/hyunprise/backend/domain/member/service/MemberLoginService.java
  backend/src/main/java/com/hyunprise/backend/domain/member/service/MemberLoginServiceImpl.java
  backend/src/main/java/com/hyunprise/backend/domain/member/vo/Member.java
  backend/src/main/resources/mapper/MemberMapper.xml
Labels: feature, Backend

#59 Feature/#7 쿠폰 발급 및 qr 코드 생성 (관리자)
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/hyunprise/android/api/RetrofitConfig.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/clients/CouponClient.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/CouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/IssuedCouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/vo/Coupon.kt
  android/app/src/main/java/com/hyunprise/android/ui/admin/coupon/CouponGenerateActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/TestMainActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/TestMainFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/CouponFoundActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/QRCodeActivity.kt
  android/app/src/main/res/drawable/coupon_edge.xml
  android/app/src/main/res/layout/activity_coupon_acquired.xml
  android/app/src/main/res/layout/activity_coupon_found.xml
  android/app/src/main/res/layout/activity_coupon_generate.xml
  android/app/src/main/res/layout/coupon_generate_number_picker.xml
  android/app/src/main/res/layout/fragment_home.xml
  android/app/src/main/res/layout/fragment_test_main.xml
  android/app/src/main/res/values/colors.xml
  backend/src/main/java/com/hyunprise/backend/domain/coupon/controllers/CouponController.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/mappers/CouponMapper.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/CouponService.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/services/CouponServiceImpl.java
  backend/src/main/java/com/hyunprise/backend/domain/coupon/vo/Coupon.java
  backend/src/main/resources/mapper/CouponMapper.xml
Labels: feature

#75 Feature/#65 auto login
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/hyunprise/android/api/RetrofitConfig.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/CouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/coupon/services/IssuedCouponService.kt
  android/app/src/main/java/com/hyunprise/android/api/oauth/services/OAuthService.kt
  android/app/src/main/java/com/hyunprise/android/store/MemberSharedPreferences.kt
  android/app/src/main/java/com/hyunprise/android/ui/admin/coupon/CouponGenerateActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/auth/LoginActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/intro/IntroActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/IssuedCouponContainerActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/adaptors/IssuedCouponTabAdaptor.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/IssuedCouponDetailDialogFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/IssuedCouponScrollingFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/CouponFoundActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/qrcode/QRCodeActivity.kt
  android/app/src/main/res/drawable/coupon_edge_circular.xml
  android/app/src/main/res/layout-v26/fragment_issued_coupon_list_item.xml
  android/app/src/main/res/layout/home_drawer.xml
Labels: bug, feature, Android

#77 Feature/#58 android auth
  android/app/src/main/java/com/hyunprise/android/api/oauth/managers/AuthManager.kt
  android/app/src/main/java/com/hyunprise/android/api/oauth/managers/AuthManagerResolver.kt
  android/app/src/main/java/com/hyunprise/android/api/oauth/managers/KakaoAuthManager.kt
  android/app/src/main/java/com/hyunprise/android/ui/auth/LoginActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/home/HomeFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/intro/IntroActivity.kt
Labels: bug, Android

#85 feat: 로그인 실패처리 로직 추가
  android/app/src/main/java/com/hyunprise/android/ui/auth/LoginActivity.kt
Labels: feature, Android

#95 Feature/#92 use coupon
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/hyunprise/android/CodeGenerate.kt
  android/app/src/main/java/com/hyunprise/android/ui/admin/fragments/AdminIssuedCouponDetailDialogFragment.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/UseCouponPopActivity.kt
  android/app/src/main/java/com/hyunprise/android/ui/member/coupon/fragments/IssuedCouponDetailDialogFragment.kt
  android/app/src/main/res/layout/activity_use_coupon_pop.xml
  android/app/src/main/res/layout/fragment_issued_coupon_detail_bottom_dialog.xml
  android/app/src/main/res/values/strings.xml
Labels: bug, feature, Android
